@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
:root {
    --eyeSize: 90px;
    --eye-margin: 30px;
    --eyeColor: #95f68c;
    --borderColor: #000000;
    --backgroundColor: #f5eee5;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--backgroundColor);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.entryBox {
    width: 50%;
    height: 31.3%;
    background-color: #f5eee5;
    box-shadow: inset 9px 9px 15px #e9cfad, inset -9px -9px 15px #f0eae3;
    border-radius: 15px;
    position: absolute;
    top: 35.6%;
    z-index: 100;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.eye-wrapper {
    width: var(--eyeSize);
    height: var(--eyeSize);
    border-radius: 50%;
    background: radial-gradient(circle at 50% 40%, white, white 60%, black 100%);
    margin: var(--eye-margin);
    position: relative;
}

.eye {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 2px var(--borderColor);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.eye-ball {
    width: calc(var(--eyeSize) / 1.7);
    height: calc(var(--eyeSize) / 1.7);
    border-radius: 50%;
    background: radial-gradient( circle at 50% 50%, var(--eyeColor) 40%, var(--borderColor) 90%);
    margin-top: -3px;
    border: solid 2px var(--borderColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-iris {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: var(--borderColor);
}

.eye-wrapper:hover .eye {
    transform: rotate(0);
    align-items: center;
}

.eye-wrapper:hover .eye-ball {
    margin: 0;
}

.light {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 50% 50%, white 10%, transparent 50%);
    border-radius: 50%;
    top: 20%;
    right: 20%;
}

.typewriter {
    font-size: 100px;
    width: 1600px;
    height: 400px;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    /* text-shadow: #887458 5px 5px 5px; */
    color: #AE1100;
    text-shadow: 1px 1px 0 #FFF;
    border-radius: 50px;
    background: #f5ebdd;
    box-shadow: inset 9px 9px 15px #e9cfad, inset -3px -3px 10px #f0eae3;
    margin-top: 275px;
    padding-top: 45px;
}

button {
    size: 100px;
    box-shadow: -5px -5px 20px #e9cfad, 5px 5px 20px #f0eae3;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 320px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 45px;
    outline: none;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px rgb(202, 204, 186);
}

button:active {
    box-shadow: inset 9px 9px 2px rgb(202, 204, 186), inset 4px 4px 2px #FFF;
}